we got highest accuracy in the Random forest classification with 93.3

dependent variables 'case_status','class_of_admission', 'country_of_citizen','employer_num_employees','foreign_worker_info_req_experience','job_info_experience_num_months','job_info_experience','pw_level_9089']

In [2]:
import pandas as pd

# preprocessing

In [3]:
df=pd.read_csv("F://Data Science//datasets//visas.csv")

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,1,2,3,4,5,6,7,15,16,19,20,21,24,25,26,27,28,29,30,31,32,33,34,35,36,38,39,40,41,42,43,44,46,47,48,49,50,51,52,54,55,56,57,58,59,60,62,63,64,65,67,68,69,70,71,72,73,76,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,99,100,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,152) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
k=d[d.case_status!='Certified-Expired']

In [25]:
k.shape

(207582, 153)

In [26]:
k.dropna(subset=['case_status'],how='any',inplace=True)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [140]:
k.dropna(subset=['case_received_date'],how='any',inplace=True)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [141]:
k.dropna(subset=['foreign_worker_info_alt_edu_experiences'],how='any').shape

(71069, 30)

In [50]:
k['job_info_experience'].fillna(value=34, inplace=True)

E:\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [ ]:
df['combined']=df['bar'].astype(str)+'_'+df['foo']+'_'+df['new']

In [88]:
k['foreign_worker_info_alt_edu_experiences']=k['foreign_worker_info_alt_edu_experience'].astype(str)+k['fw_info_alt_edu_experience']

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
from sklearn.preprocessing import Imputer

In [44]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [80]:
k['foreign_worker_info_rel_occup_exp'].value_counts()

nanA    28567
nanY    23414
nanN    19088
Name: foreign_worker_info_rel_occup_exp, dtype: int64

In [90]:
k['foreign_worker_info_alt_edu_experience'].head()

135269    A
135271    A
135272    A
135281    A
135285    A
Name: foreign_worker_info_alt_edu_experience, dtype: object

In [138]:
k.columns

Index(['application_type', 'case_received_date', 'case_status',
       'class_of_admission', 'country_of_citizen', 'decision_date',
       'employer_country', 'employer_num_employees', 'employer_state',
       'foreign_worker_info_alt_edu_experience', 'foreign_worker_info_city',
       'foreign_worker_info_education', 'foreign_worker_info_major',
       'foreign_worker_info_req_experience', 'job_info_alt_combo_ed',
       'job_info_alt_combo_ed_exp', 'job_info_education',
       'job_info_education_other', 'job_info_experience',
       'job_info_experience_num_months', 'job_info_foreign_ed',
       'job_info_work_state', 'pw_level_9089', 'wage_offer_from_9089',
       'wage_offer_to_9089', 'wage_offer_unit_of_pay_9089',
       'wage_offered_from_9089', 'wage_offered_to_9089',
       'foreign_worker_info_rel_occup_exps',
       'foreign_worker_info_alt_edu_experiences'],
      dtype='object')

In [137]:
k.drop(['foreign_worker_info_inst','pw_soc_code', 'pw_soc_title','foreign_worker_info_education_other','foreign_worker_info_postal_code', 'job_info_combo_occupation','job_info_foreign_lang_req'],axis=1,inplace=True)

E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [215]:
cols=['application_type', 'case_received_date', 'case_status',
       'class_of_admission', 'country_of_citizen', 'decision_date',
       'employer_country', 'employer_num_employees', 'employer_state',
       'foreign_worker_info_alt_edu_experience', 'foreign_worker_info_city',
       'foreign_worker_info_education', 'foreign_worker_info_major',
       'foreign_worker_info_req_experience', 'job_info_alt_combo_ed',
       'job_info_alt_combo_ed_exp', 'job_info_education',
       'job_info_education_other', 'job_info_experience',
       'job_info_experience_num_months', 'job_info_foreign_ed',
       'job_info_work_state', 'pw_level_9089', 'wage_offer_from_9089',
       'wage_offer_to_9089', 'wage_offer_unit_of_pay_9089',
       'wage_offered_from_9089', 'wage_offered_to_9089',
       'foreign_worker_info_rel_occup_exps',
       'foreign_worker_info_alt_edu_experiences']

# modelBuilding

In [216]:
df=k[cols]

In [6]:
df=pd.read_excel("F:Data Science/datasets/finaldata.xlsx")

In [10]:
col=['case_status','class_of_admission', 'country_of_citizen','employer_num_employees','foreign_worker_info_req_experience','job_info_experience_num_months','job_info_experience','pw_level_9089']

In [11]:
dfd=df[col]

In [144]:
df['case_received_date'] = pd.to_datetime(df['case_received_date'])
df['decision_date'] = pd.to_datetime(df['decision_date'])

df['Duration'] = (df['decision_date'] - df['case_received_date']).dt.days

In [214]:
dd.head()

,class_of_admission,country_of_citizen,employer_num_employees,foreign_worker_info_req_experience,job_info_experience_num_months,job_info_experience,pw_level_9089
135271,H-1B,GERMANY,4.0,Y,36.0,Y,Level I
135302,E-1,TURKEY,12.0,Y,60.0,Y,Level II
135313,L-1,FRANCE,13000.0,N,84.0,Y,Level IV
135338,H-1B,INDIA,42000.0,N,60.0,Y,Level IV
135347,TN,CANADA,16.0,N,60.0,Y,Level IV

In [13]:
dd.dropna(subset=['foreign_worker_info_req_experience'],how='any',inplace=True)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
dd=dfd[dfd.foreign_worker_info_req_experience!='A']

In [221]:
dd.head()

,case_status,class_of_admission,country_of_citizen,employer_num_employees,foreign_worker_info_req_experience,job_info_experience_num_months,job_info_experience,pw_level_9089
135271,Denied,H-1B,GERMANY,4.0,Y,36.0,Y,Level I
135302,Denied,E-1,TURKEY,12.0,Y,60.0,Y,Level II
135313,Certified,L-1,FRANCE,13000.0,N,84.0,Y,Level IV
135338,Certified,H-1B,INDIA,42000.0,N,60.0,Y,Level IV
135347,Denied,TN,CANADA,16.0,N,60.0,Y,Level IV

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()

In [16]:
e['job_info_experience']=le.fit_transform(e['job_info_experience'])

NameError: name 'e' is not defined

In [228]:
e['case_status']=le.fit_transform(e['case_status'])

In [229]:
e['foreign_worker_info_req_experience']=le.fit_transform(e['foreign_worker_info_req_experience'])

In [17]:
dummy=pd.get_dummies(dd,'class_of_admission', 'country_of_citizen','pw_level_9089')

In [18]:
dummy.head()

,employer_num_employees,job_info_experience_num_months,class_of_admissioncountry_of_citizenCertified,class_of_admissioncountry_of_citizenDenied,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenA-3,class_of_admissioncountry_of_citizenA1/A2,class_of_admissioncountry_of_citizenB-1,class_of_admissioncountry_of_citizenB-2,class_of_admissioncountry_of_citizenC-1,...,class_of_admissioncountry_of_citizenY,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenN,class_of_admissioncountry_of_citizenY,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenLevel I,class_of_admissioncountry_of_citizenLevel II,class_of_admissioncountry_of_citizenLevel III,class_of_admissioncountry_of_citizenLevel IV,class_of_admissioncountry_of_citizennan
135271,4,36,0,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
135302,12,60,0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
135313,13000,84,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
135338,42000,60,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
135347,16,60,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [173]:
dd.head()

,class_of_admission,country_of_citizen,employer_num_employees,foreign_worker_info_req_experience,job_info_experience_num_months,job_info_experience,pw_level_9089
135271,H-1B,GERMANY,4.0,Y,36.0,Y,Level I
135302,E-1,TURKEY,12.0,Y,60.0,Y,Level II
135313,L-1,FRANCE,13000.0,N,84.0,Y,Level IV
135338,H-1B,INDIA,42000.0,N,60.0,Y,Level IV
135347,TN,CANADA,16.0,N,60.0,Y,Level IV

In [174]:
dummy.columns

Index(['employer_num_employees', 'job_info_experience_num_months',
       'class_of_admissioncountry_of_citizenA-3',
       'class_of_admissioncountry_of_citizenA1/A2',
       'class_of_admissioncountry_of_citizenB-1',
       'class_of_admissioncountry_of_citizenB-2',
       'class_of_admissioncountry_of_citizenC-1',
       'class_of_admissioncountry_of_citizenC-3',
       'class_of_admissioncountry_of_citizenE-1',
       'class_of_admissioncountry_of_citizenE-2',
       ...
       'class_of_admissioncountry_of_citizenY',
       'class_of_admissioncountry_of_citizennan',
       'class_of_admissioncountry_of_citizenN',
       'class_of_admissioncountry_of_citizenY',
       'class_of_admissioncountry_of_citizennan',
       'class_of_admissioncountry_of_citizenLevel I',
       'class_of_admissioncountry_of_citizenLevel II',
       'class_of_admissioncountry_of_citizenLevel III',
       'class_of_admissioncountry_of_citizenLevel IV',
       'class_of_admissioncountry_of_citizennan'],
      dtype='object', length=197)

In [224]:
dummy.drop(['employer_num_employees', 'job_info_experience_num_months'],axis=1,inplace=True)

In [225]:
e=pd.concat([dd,dummy],axis=1)

In [230]:
e.head()

,case_status,class_of_admission,country_of_citizen,employer_num_employees,foreign_worker_info_req_experience,job_info_experience_num_months,job_info_experience,pw_level_9089,class_of_admissioncountry_of_citizenCertified,class_of_admissioncountry_of_citizenDenied,...,class_of_admissioncountry_of_citizenY,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenN,class_of_admissioncountry_of_citizenY,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenLevel I,class_of_admissioncountry_of_citizenLevel II,class_of_admissioncountry_of_citizenLevel III,class_of_admissioncountry_of_citizenLevel IV,class_of_admissioncountry_of_citizennan
135271,1,H-1B,GERMANY,4.0,1,36.0,1,Level I,0,1,...,1,0,0,1,0,1,0,0,0,0
135302,1,E-1,TURKEY,12.0,1,60.0,1,Level II,0,1,...,1,0,0,1,0,0,1,0,0,0
135313,0,L-1,FRANCE,13000.0,0,84.0,1,Level IV,1,0,...,0,0,0,1,0,0,0,0,1,0
135338,0,H-1B,INDIA,42000.0,0,60.0,1,Level IV,1,0,...,0,0,0,1,0,0,0,0,1,0
135347,1,TN,CANADA,16.0,0,60.0,1,Level IV,0,1,...,0,0,0,1,0,0,0,0,1,0

In [231]:
e.drop(['class_of_admission','country_of_citizen','pw_level_9089','class_of_admissioncountry_of_citizenB-1','class_of_admissioncountry_of_citizenLevel I','class_of_admissioncountry_of_citizenPAKISTAN'],axis=1,inplace=True)

In [232]:
e.head()

,case_status,employer_num_employees,foreign_worker_info_req_experience,job_info_experience_num_months,job_info_experience,class_of_admissioncountry_of_citizenCertified,class_of_admissioncountry_of_citizenDenied,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenA-3,class_of_admissioncountry_of_citizenA1/A2,...,class_of_admissioncountry_of_citizenN,class_of_admissioncountry_of_citizenY,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenN,class_of_admissioncountry_of_citizenY,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenLevel II,class_of_admissioncountry_of_citizenLevel III,class_of_admissioncountry_of_citizenLevel IV,class_of_admissioncountry_of_citizennan
135271,1,4.0,1,36.0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
135302,1,12.0,1,60.0,1,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
135313,0,13000.0,0,84.0,1,1,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
135338,0,42000.0,0,60.0,1,1,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
135347,1,16.0,0,60.0,1,0,1,0,0,0,...,1,0,0,0,1,0,0,0,1,0

In [233]:
X=e.iloc[:,1:]

In [234]:
X.head()

,employer_num_employees,foreign_worker_info_req_experience,job_info_experience_num_months,job_info_experience,class_of_admissioncountry_of_citizenCertified,class_of_admissioncountry_of_citizenDenied,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenA-3,class_of_admissioncountry_of_citizenA1/A2,class_of_admissioncountry_of_citizenB-2,...,class_of_admissioncountry_of_citizenN,class_of_admissioncountry_of_citizenY,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenN,class_of_admissioncountry_of_citizenY,class_of_admissioncountry_of_citizennan,class_of_admissioncountry_of_citizenLevel II,class_of_admissioncountry_of_citizenLevel III,class_of_admissioncountry_of_citizenLevel IV,class_of_admissioncountry_of_citizennan
135271,4.0,1,36.0,1,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
135302,12.0,1,60.0,1,0,1,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0
135313,13000.0,0,84.0,1,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
135338,42000.0,0,60.0,1,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
135347,16.0,0,60.0,1,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0

In [235]:
y=e['case_status']

In [236]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [237]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [238]:
from sklearn.decomposition import PCA

In [241]:
pca=PCA(n_components=2)

In [242]:
X_train=pca.fit_transform(X_train)
X_test=pca.fit_transform(X_test)

In [244]:
from sklearn.linear_model import LogisticRegression

In [245]:
lr=LogisticRegression()

In [246]:
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [247]:
lr.score(X_train,y_train)

0.9148678492555389

In [249]:
pred=lr.predict(X_test)

In [252]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [253]:
cm=confusion_matrix(pred,y_test)

In [254]:
cm

array([[4257,  420],
       [   3,    0]], dtype=int64)

In [255]:
accuracy_score(pred,y_test)

0.9096153846153846

In [257]:
from sklearn.ensemble import RandomForestClassifier

E:\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [268]:
rf=RandomForestClassifier(n_estimators=10)

In [269]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [270]:
rf.score(X_train,y_train)

0.9997150388259599

In [271]:
y_pred=rf.predict(X_test)

In [272]:
cms=confusion_matrix(y_pred,y_test)

In [273]:
cms

array([[3987,   25],
       [ 273,  395]], dtype=int64)

In [274]:
accuracy_score(y_pred,y_test)

0.9363247863247863

In [275]:
from pandas import ExcelWriter

In [279]:
f=pd.DataFrame(e)

In [280]:
writer=ExcelWriter("F:Data Science/datasets/hypo.xlsx")

In [281]:
e.to_excel(writer,'sheet1')
writer.save()