Hypothesis 3
after preprocessing we got the dataframe shape as (36654, 8) the indsependent variable we used are cols=['case_status','foreign_worker_info_alt_edu_experience',
'country_of_citizen', 'foreign_worker_info_education',
'foreign_worker_info_req_experience',
'job_info_alt_combo_ed_exp', 'job_info_experience',
'job_info_experience_num_months']

we applied logisticregression for this modeland achieved the accuracy of 90.4

In [1]:
import pandas as pd

In [3]:
df=pd.read_excel("C://Users//Chintu//Downloads//finaldata.xlsx")

In [4]:
df.columns

Index(['application_type', 'case_received_date', 'case_status',
       'class_of_admission', 'country_of_citizen', 'decision_date',
       'employer_country', 'employer_num_employees', 'employer_state',
       'foreign_worker_info_alt_edu_experience', 'foreign_worker_info_city',
       'foreign_worker_info_education', 'foreign_worker_info_major',
       'foreign_worker_info_req_experience', 'job_info_alt_combo_ed',
       'job_info_alt_combo_ed_exp', 'job_info_education',
       'job_info_education_other', 'job_info_experience',
       'job_info_experience_num_months', 'job_info_foreign_ed',
       'job_info_work_state', 'pw_level_9089', 'wage_offer_from_9089',
       'wage_offer_to_9089', 'wage_offer_unit_of_pay_9089',
       'wage_offered_from_9089', 'wage_offered_to_9089',
       'foreign_worker_info_rel_occup_exps',
       'foreign_worker_info_alt_edu_experiences'],
      dtype='object')

In [12]:
cols=['case_status','foreign_worker_info_alt_edu_experience',
'country_of_citizen', 'foreign_worker_info_education',
'foreign_worker_info_req_experience',
'job_info_alt_combo_ed_exp', 'job_info_experience',
'job_info_experience_num_months']

In [13]:
dd=df[cols]

In [16]:
dd.head()

,case_status,foreign_worker_info_alt_edu_experience,country_of_citizen,foreign_worker_info_education,foreign_worker_info_req_experience,job_info_alt_combo_ed_exp,job_info_experience,job_info_experience_num_months
135269,Certified,A,INDIA,Bachelor's,A,N,N,34
135271,Denied,A,GERMANY,Doctorate,Y,N,Y,36
135272,Certified,A,SOUTH KOREA,Master's,A,N,N,34
135281,Certified,A,BRAZIL,Bachelor's,A,N,N,34
135285,Certified,A,BELARUS,Master's,A,N,N,34

In [88]:
dd.shape

(36654, 8)

In [14]:
dd.dropna(subset=['foreign_worker_info_req_experience'],how='any',inplace=True)

C:\Users\Chintu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
dummies=pd.get_dummies(dd,columns=['foreign_worker_info_alt_edu_experience','country_of_citizen','foreign_worker_info_education','foreign_worker_info_req_experience'])

In [18]:
dummies.head()

,case_status,job_info_alt_combo_ed_exp,job_info_experience,job_info_experience_num_months,foreign_worker_info_alt_edu_experience_A,foreign_worker_info_alt_edu_experience_N,foreign_worker_info_alt_edu_experience_Y,country_of_citizen_AFGHANISTAN,country_of_citizen_ALBANIA,country_of_citizen_ALGERIA,...,foreign_worker_info_education_Associate's,foreign_worker_info_education_Bachelor's,foreign_worker_info_education_Doctorate,foreign_worker_info_education_High School,foreign_worker_info_education_Master's,foreign_worker_info_education_None,foreign_worker_info_education_Other,foreign_worker_info_req_experience_A,foreign_worker_info_req_experience_N,foreign_worker_info_req_experience_Y
135269,Certified,N,N,34,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
135271,Denied,N,Y,36,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
135272,Certified,N,N,34,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
135281,Certified,N,N,34,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
135285,Certified,N,N,34,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [19]:
dummies.columns

Index(['case_status', 'job_info_alt_combo_ed_exp', 'job_info_experience',
       'job_info_experience_num_months',
       'foreign_worker_info_alt_edu_experience_A',
       'foreign_worker_info_alt_edu_experience_N',
       'foreign_worker_info_alt_edu_experience_Y',
       'country_of_citizen_AFGHANISTAN', 'country_of_citizen_ALBANIA',
       'country_of_citizen_ALGERIA',
       ...
       'foreign_worker_info_education_Associate's',
       'foreign_worker_info_education_Bachelor's',
       'foreign_worker_info_education_Doctorate',
       'foreign_worker_info_education_High School',
       'foreign_worker_info_education_Master's',
       'foreign_worker_info_education_None',
       'foreign_worker_info_education_Other',
       'foreign_worker_info_req_experience_A',
       'foreign_worker_info_req_experience_N',
       'foreign_worker_info_req_experience_Y'],
      dtype='object', length=177)

In [22]:
dummies.drop(['foreign_worker_info_req_experience_A','case_status', 'job_info_alt_combo_ed_exp', 'job_info_experience',
       'job_info_experience_num_months','foreign_worker_info_alt_edu_experience_A','foreign_worker_info_education_Doctorate','country_of_citizen_ALGERIA'],axis=1,inplace=True)

In [23]:
e=pd.concat([dd,dummies],axis=1)

In [24]:
e.head()

,case_status,foreign_worker_info_alt_edu_experience,country_of_citizen,foreign_worker_info_education,foreign_worker_info_req_experience,job_info_alt_combo_ed_exp,job_info_experience,job_info_experience_num_months,foreign_worker_info_alt_edu_experience_N,foreign_worker_info_alt_edu_experience_Y,...,country_of_citizen_ZAMBIA,country_of_citizen_ZIMBABWE,foreign_worker_info_education_Associate's,foreign_worker_info_education_Bachelor's,foreign_worker_info_education_High School,foreign_worker_info_education_Master's,foreign_worker_info_education_None,foreign_worker_info_education_Other,foreign_worker_info_req_experience_N,foreign_worker_info_req_experience_Y
135269,Certified,A,INDIA,Bachelor's,A,N,N,34,0,0,...,0,0,0,1,0,0,0,0,0,0
135271,Denied,A,GERMANY,Doctorate,Y,N,Y,36,0,0,...,0,0,0,0,0,0,0,0,0,1
135272,Certified,A,SOUTH KOREA,Master's,A,N,N,34,0,0,...,0,0,0,0,0,1,0,0,0,0
135281,Certified,A,BRAZIL,Bachelor's,A,N,N,34,0,0,...,0,0,0,1,0,0,0,0,0,0
135285,Certified,A,BELARUS,Master's,A,N,N,34,0,0,...,0,0,0,0,0,1,0,0,0,0

In [25]:
e.columns

Index(['case_status', 'foreign_worker_info_alt_edu_experience',
       'country_of_citizen', 'foreign_worker_info_education',
       'foreign_worker_info_req_experience', 'job_info_alt_combo_ed_exp',
       'job_info_experience', 'job_info_experience_num_months',
       'foreign_worker_info_alt_edu_experience_N',
       'foreign_worker_info_alt_edu_experience_Y',
       ...
       'country_of_citizen_ZAMBIA', 'country_of_citizen_ZIMBABWE',
       'foreign_worker_info_education_Associate's',
       'foreign_worker_info_education_Bachelor's',
       'foreign_worker_info_education_High School',
       'foreign_worker_info_education_Master's',
       'foreign_worker_info_education_None',
       'foreign_worker_info_education_Other',
       'foreign_worker_info_req_experience_N',
       'foreign_worker_info_req_experience_Y'],
      dtype='object', length=177)

In [26]:
e.drop(['foreign_worker_info_alt_edu_experience','country_of_citizen','foreign_worker_info_education','foreign_worker_info_req_experience'],axis=1,inplace=True)

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le=LabelEncoder()

In [31]:
e['job_info_experience']=le.fit_transform(e['job_info_experience'])

In [32]:
e.head()

,case_status,job_info_alt_combo_ed_exp,job_info_experience,job_info_experience_num_months,foreign_worker_info_alt_edu_experience_N,foreign_worker_info_alt_edu_experience_Y,country_of_citizen_AFGHANISTAN,country_of_citizen_ALBANIA,country_of_citizen_ANGOLA,country_of_citizen_ANTIGUA AND BARBUDA,...,country_of_citizen_ZAMBIA,country_of_citizen_ZIMBABWE,foreign_worker_info_education_Associate's,foreign_worker_info_education_Bachelor's,foreign_worker_info_education_High School,foreign_worker_info_education_Master's,foreign_worker_info_education_None,foreign_worker_info_education_Other,foreign_worker_info_req_experience_N,foreign_worker_info_req_experience_Y
135269,0,0,0,34,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
135271,1,0,1,36,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
135272,0,0,0,34,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
135281,0,0,0,34,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
135285,0,0,0,34,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [33]:
X=e.iloc[:,1:]

In [34]:
y=e['case_status']

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [37]:
from sklearn.decomposition import PCA

In [38]:
pca=PCA(n_components=3)

In [39]:
X_train=pca.fit_transform(X_train)
X_test=pca.fit_transform(X_test)

In [40]:
from sklearn.linear_model import LogisticRegression

In [41]:
cls=LogisticRegression()

In [42]:
cls.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [43]:
cls.score(X_train,y_train)

0.8987143198172083

In [44]:
y_pred=cls.predict(X_test)

In [45]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [46]:
cm=confusion_matrix(y_pred,y_test)

In [47]:
cm

array([[6633,  698],
       [   0,    0]], dtype=int64)

In [48]:
accuracy_score(y_pred,y_test)

0.904787887054972

In [50]:
from sklearn.svm import SVC

In [51]:
sc=SVC(kernel='rbf')

In [52]:
sc.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [53]:
pred=sc.predict(X_test)

In [54]:
cms=confusion_matrix(pred,y_test)

In [55]:
cms

array([[6633,  698],
       [   0,    0]], dtype=int64)

In [56]:
accuracy_score(pred,y_test)

0.904787887054972

In [57]:
from sklearn.ensemble import RandomForestClassifier

In [67]:
rf=RandomForestClassifier(n_estimators=100)

In [64]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [65]:
prediction=rf.predict(X_test)

In [66]:
accuracy_score(prediction,y_test)

0.9024689673987177

In [68]:
from sklearn.ensemble import AdaBoostClassifier

In [69]:
adb=AdaBoostClassifier(base_estimator=None,n_estimators=200)

In [70]:
adb.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=200, random_state=None)

In [71]:
pre=adb.predict(X_test)

In [72]:
accuracy_score(pre,y_test)

0.904787887054972

In [73]:
from sklearn.ensemble import GradientBoostingClassifier

In [74]:
gs=GradientBoostingClassifier(n_estimators=50)

In [75]:
gs.fit(X_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=50,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [76]:
predd=gs.predict(X_test)

In [77]:
accuracy_score(y_test,predd)

0.904787887054972

In [82]:
from sklearn.ensemble import VotingClassifier

In [79]:
from sklearn.naive_bayes import GaussianNB

In [83]:
vc=VotingClassifier(estimators=[('cls',LogisticRegression()),('rf',RandomForestClassifier()),('sc',SVC()),('gs',GradientBoostingClassifier()),('gnb',GaussianNB())],voting='hard')

In [84]:
vc.fit(X_train,y_train)

VotingClassifier(estimators=[('cls', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)), ('rf', Random...=None, subsample=1.0, verbose=0,
              warm_start=False)), ('gnb', GaussianNB(priors=None))],
         flatten_transform=None, n_jobs=1, voting='hard', weights=None)

In [85]:
preed=vc.predict(X_test)

C:\Users\Chintu\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [86]:
accuracy_score(preed,y_test)

0.904787887054972

In [87]:
vc.score(X_train,y_train)

C:\Users\Chintu\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.8987143198172083